<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{pageTitle}}{{config.siteName}}</title>
<meta name="description" content="{{pageDescription}}">
<meta name="viewport" content="width=900">
<meta property="og:title" content="{{pageTitle}}{{config.siteName}}">
<meta property="og:type" content="website">
<meta property="og:url" content="http://nodefest.jp/2014/">
<meta property="og:image" content="http://nodefest.jp/2014/img/logo.png">
<meta property="og:description" content="{{pageDescription}}">
<link rel="stylesheet" href="/2014/css/style.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
<script src="/2014/webcomponents/platform/platform.js"></script>
<link rel="import" href="/2014/webcomponents/google-map/google-map.html">
</head>
