<%
var page = {
  title: 'About us',
  members: [
    'amagitakayosi',
    'about_hiroppy',
    'axross_',
    'hiloki',
    'kamiyam',
    'ktogo_lig',
    'kysnm',
    'leader22',
    'leichtgewicht',
    'meso',
    'n0bisuke',
    'tgfjt',
    'tito_net',
    'ronkorving',
    'sota0805',
    'vanx2',
    'watilde',
    'yosuke_furukawa'
  ],
  creators: [
    'hiloki',
    'leader22'
  ]
}
%>

<%- include('_layout/header', page) -%>

<%- include('_partial/svg') -%>

<%- include('_partial/navigation') -%>

<div class="main">
  <section class="page schedule">
    <h2 class="page-title team-title"><%= page.title %></h2>
    <div class="page-section">
      <h3 class="page-subhead">Who we are?</h3>
      <div class="page-sectionBody">
        <ul class="team">
          <% page.members.forEach(function(id) { %>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/<%= id %>" target="_blank">@<%= id %></a></p>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <div class="page-section">
      <h3 class="page-subhead">Who code the website?</h3>
      <div class="page-sectionBody">
        <ul class="team">
          <% page.creators.forEach(function(id) { %>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/<%= id %>" target="_blank">@<%= id %></a></p>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>

  </section>

</div>

<%- include('_layout/footer') -%>
