---
nav: home
---
{{> first }}

<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">About</span>
			<span class="mod-heading-ja">東京Node学園祭について</span>
		</h1>
	</div>
	<p>WebSocketの普及により実現されつつあるリアルタイムWebとそれに伴って現実となりつつあるC10K問題。これらへのソリューションとして世界中から注目されているのが、サーバサイドJavaScriptプラットフォームのNode.jsです。</p>
	<p>このたびNode.js日本ユーザグループは、第3回目となるNode.jsのカンファレンス「東京Node学園祭 2013」を開催いたします。今回は、日本国内のエンジニアに多くの発表機会を提供することを狙いとしています。参加者がただの聴衆にならず、真の"参加"者となれるカンファレンスを目指します。</p>
</section>


<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">Schedule</span>
			<span class="mod-heading-ja">開催概要</span>
		</h1>
	</div>

	<div class="mod-table">
		<table>
			<tr>
				<th><div>日時</div></th>
				<td>2013年10月26日(日) 11:00 開場 / 11:25~18:00 / 後夜祭 18:30~</td>
			</tr>
			<tr>
				<th><div>会場</div></th>
				<td>〒169-8333 東京都新宿区北新宿2-21-1<br>
				<a href="#">ニフティ株式会社 セミナールーム（新宿フロントタワー内）</a></td>
			</tr>
			<tr>
				<th><div>ハッシュタグ</div></th>
				<td>#nodefest<br>
				#nodefestA (トラックA専用)<br>
				#nodefestB (トラック B専用)</td>
			</tr>
			<tr>
				<th><div>無線LAN</div></th>
				<td>無料のWiFi アクセスポイントを用意します。<br>
				SSIDなどは当日お知らせします。</td>
			</tr>
			<tr>
				<th><div>動画配信</div></th>
				<td>録画したものが<a href="#">セッション情報</a>からご覧になれます。</td>
			</tr>
			<tr>
				<th><div>参加費</div></th>
				<td><a href="#">無料 / 後夜祭は3,000 円</a></td>
			</tr>
			<tr>
				<th><div>主催</div></th>
				<td><a href="#">Node.js日本ユーザグループ</a></td>
			</tr>
		</table>
	</div>
</section>


<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">Speakers</span>
			<span class="mod-heading-ja">登壇者紹介</span>
		</h1>
	</div>

{{#each speaker}}
	<div class="mod-speaker">
		<div class="mod-speaker-image">
			<img src="{{ image }}" height="130" width="130" alt="">
		</div>
		<div class="mod-speaker-name">{{ name }}</div>
		{{#markdown}}{{ text }}{{/markdown}}
	</div>
{{/each}}

</section>


<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">News</span>
			<span class="mod-heading-ja">お知らせ</span>
		</h1>
	</div>


	<div class="mod-news">
{{#each news}}
	<div class="mod-news-date">{{date}}</div>
	<div class="mod-news-text">
		{{#markdown}}{{ text }}{{/markdown}}
	</div>
{{/each}}
	</div>

</section>


<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">Attention</span>
			<span class="mod-heading-ja">取材をご希望の方へ</span>
		</h1>
	</div>

	<p>東京Node学園祭2012の取材をご希望されるプレスの皆様に取材の申し込み方法をお知らせいたします。
東京Node学園祭2012の取材につきましては、会場のセキュリティの問題で、事前にご登録いただかないと入場することができません。<br>そこで、取材をご希望される方は、2012年11月11日（日）まで nodefest@nodejs.jp まで、取材ご担当者の氏名・所属、媒体名などをご連絡いただければ幸いです。</p>
	<p>なお、当日は満席になることが予想されるため、立ち見での取材をお願いいたします。あらかじめご了承ください。</p>
	<p>当日受付にて、プレスである旨を告げ、プレス用カードを受け取ったうえでご入場ください。この際、御名刺をいただきたく存じますので、ご用意をよろしくお願い致します。</p>

</section>

{{> second }}