---
nav: home
---
{{> first }}

<section class="mod-section">
	<div class="mod-heading">
		<h1 style="color: red;">
			<span class="mod-heading-en">Typhoon</span>
			<span class="mod-heading-ja">台風による開催可否について</span>
		</h1>
	</div>
	<p><strong style="color: red;">10/24 20:00更新：現時点では明日の東京Node学園祭は開催の予定です</strong></p>
	<p>東京Node学園祭開催日である10/26(土)に大型の強い台風が上陸する可能性があります。</p>
	<p>会場は室内ですが、交通の乱れにより参加・帰宅が困難になる恐れや安全面などを考慮して、当日の開催の可否は以下のポリシーに従って、東京Node学園祭を中止する可能性があることをお伝えいたします。</p>
	<ul>
	  <li>1. 前日10月25日の20時の予報で、当日10時に会場が暴風警戒域にある場合中止とします。</li>
	  <li>2. 1.で中止にならなかった場合でも、当日8時の予報で、当日10時もしくは18時に会場が暴風警戒域にある場合中止とします。</li>
	  <li>3. その他、主催者が中止すべきと判断した場合中止とします。</li>
	</ul>
	<p>開催の可否は、前日20:00、当日8:00 に公式ページを更新いたしますので、そちらをご確認下さい。</p>
	<p>公式ページ: <a href="http://nodefest.jp/2013/">http://nodefest.jp/2013/</a></p>
	<p>なお、中止した場合の延期は予定しておりません。</p>
	<p>参加費については、原則返金として対応させて頂きます。(返金については別途、参加者に Connpass を通じてご連絡いたします。)</p>
	<p>予定していた発表は登壇者の方と交渉の上、可能であれば定期開催している勉強会、東京Node学園にて再演を依頼する予定です。</p>
	<p>安全を考慮しての判断です。ご理解、ご協力のほどよろしくお願いします。</p>
</section>

<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">Cancel after party</span>
			<span class="mod-heading-ja">「東京Node学園祭2013 懇親会」の中止について</span>
		</h1>
	</div>
	<p>台風27、28号接近の懸念から「東京Node学園祭2013」の開催についても判断が難しい状況となっており、残念ながら「東京Node学園祭2013 懇親会」につきましては中止とさせていただく事に決定致しました。</p>
	<p>楽しみにされていた皆様には大変申し訳ございませんが、皆様の安全を最優先に考え判断させていただきました。何卒ご理解、ご了承いただく様お願い申し上げます。</p>
</section>

<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">About</span>
			<span class="mod-heading-ja">東京Node学園祭について</span>
		</h1>
	</div>
	<p>WebSocketの普及により実現されつつあるリアルタイムWebとそれに伴って現実となりつつあるC10K問題。これらへのソリューションとして世界中から注目されているのが、サーバサイドJavaScriptプラットフォームのNode.jsです。</p>
	<p>このたびNode.js日本ユーザグループは、第3回目となるNode.jsのカンファレンス「東京Node学園祭 2013」を開催いたします。今回は、日本国内のエンジニアに多くの発表機会を提供することを狙いとしています。参加者がただの聴衆にならず、真の"参加"者となれるカンファレンスを目指します。</p>
</section>


<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">Schedule</span>
			<span class="mod-heading-ja">開催概要</span>
		</h1>
	</div>

	<div class="mod-table">
		<table>
			<tr>
				<th><div>日時</div></th>
				<td>2013年10月26日(土) 12:00 開場 / 13:00 〜 18:00 / 後夜祭 18:30 〜</td>
			</tr>
			<tr>
				<th><div>会場</div></th>
				<td>〒169-8333 東京都新宿区北新宿2-21-1<br>
				<a href="http://tech.nifty.co.jp/access/">ニフティ株式会社 セミナールーム（新宿フロントタワー内）</a></td>
			</tr>
			<tr>
				<th><div>ハッシュタグ</div></th>
				<td>#nodefest<br>
				#nodefestA (トラックA専用)<br>
				#nodefestB (トラック B専用)</td>
			</tr>
			<tr>
				<th><div>無線LAN</div></th>
				<td>無料のWiFi アクセスポイントを用意します。<br>
				SSIDなどは当日お知らせします。</td>
			</tr>
			<tr>
				<th><div>参加費</div></th>
				<td>1,000円（チケットは<a href="http://connpass.com/event/3595/">こちら</a>から購入できます）</td>
			</tr>
			<tr>
				<th><div>主催</div></th>
				<td><a href="http://nodejs.jp/">Node.js日本ユーザグループ</a></td>
			</tr>
		</table>
	</div>
</section>


<!--
<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">Speakers</span>
			<span class="mod-heading-ja">登壇者紹介</span>
		</h1>
	</div>

{{#each speaker}}
	<div class="mod-speaker">
		<div class="mod-speaker-image">
			<img src="{{ image }}" height="130" width="130" alt="">
		</div>
		<div class="mod-speaker-name">{{ name }}</div>
		{{#markdown}}{{ text }}{{/markdown}}
	</div>
{{/each}}

</section>
-->


<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">News</span>
			<span class="mod-heading-ja">お知らせ</span>
		</h1>
	</div>


	<div class="mod-news">
{{#each news}}
	<div class="mod-news-date">{{date}}</div>
	<div class="mod-news-text">
		{{#markdown}}{{ text }}{{/markdown}}
	</div>
{{/each}}
	</div>

</section>


<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">Attention</span>
			<span class="mod-heading-ja">取材をご希望の方へ</span>
		</h1>
	</div>

	<p>東京Node学園祭2013の取材をご希望されるプレスの皆様に取材の申し込み方法をお知らせいたします。 東京Node学園祭2013の取材につきましては、会場のセキュリティの問題で、事前にご登録いただかないと入場することができません。</p>
	<p>そこで、取材をご希望される方は、2013年10月18日（金）まで nodefest@nodejs.jp まで、取材ご担当者の氏名・所属、媒体名などをご連絡いただければ幸いです。</p>
なお、当日は満席になることが予想されるため、立ち見での取材をお願いいたします。あらかじめご了承ください。
	<p>当日受付にて、プレスである旨を告げ、プレス用カードを受け取ったうえでご入場ください。この際、御名刺をいただきたく存じますので、ご用意をよろしくお願い致します。</p>

</section>

{{> second }}
