<%
var speaker = speakers[id];
var entries = Object.values(calendar).reduce((entries, cal) => {
  for (const room in cal.rooms) {
    for (const entry of cal.rooms[room]) {
      if (isSpeakerForEntry(entry, speaker)) {
        entries.push({
          data: entry,
          timeZone: cal.googleObject.timeZone,
          room
        })
      }
      if (entry.entries) {
        for (let subEntry of entry.entries) {
          if (isSpeakerForEntry(subEntry, speaker)){
            subEntry = {
              data: Object.assign(
                Object.assign({}, subEntry),
                {
                  summary: `${entry.summary}: ${subEntry.summary}`,
                  start: entry.start,
                  end: entry.end
                }
              ),
              timeZone: cal.googleObject.timeZone,
              room
            }
            entries.push(subEntry)
          }
        }
      }
    }
  }
  return entries;
}, []);

if (entries.length === 0) {
  console.log(`Warning: no entry found for speaker ${id}`)
}

let href = `#speaker-${id}`
if (link) {
  href = `speakers.html${href}`
}
%>
<a class="speaker" href="<%= href %>">
  <div class="speaker-image">
    <div class="Hex">
      <div class="Hex-outer">
        <div class="Hex-inner">
          <img src="img/speakers/pic-<%= id %>.jpg" class="Hex-image">
        </div>
      </div>
    </div>
  </div>
  <div class="speaker-info">
    <p class="speaker-name">
      <%= speaker.name %>
    </p>
    <p class="speaker-session">
      <%- entries.map(entry => entry.data.summary).join('<br/>') %>
    </p>
  </div>
</a>
<%
if (!link) {
  %><%- include('speaker-overlay', {
    entries,
    speaker,
    overlayId: `speaker-${id}`
  }) -%><%
}
%>
