<%
  var _enableBr = function(str) { return str.replace(/\n/g, '<br>'); };
%>
<div class="overlay" data-key="<%- overlayId %>">
  <div class="overlay-content">

    <button class="overlay-button">
      <svg xmlns="http://www.w3.org/2000/svg" class="overlay-icon"><use xlink:href="#close"></use></svg>
    </button>

    <div class="session">
      <% if (speaker) { %>
      <div class="session-speaker">
        <div class="session-speakerAvatar" style="background-image:url(img/speakers/pic-<%= speaker.id %>.jpg);"></div>
        <div class="session-speakerProfile">
          <p class="session-speakerName"><%- speaker.name %></p>
          <%
          if (speaker.biography) {
            %>
            <div class="session-speakerBio" lang="en">
              <p><%- _enableBr(speaker.biography) %></p>
            </div>
            <%
          }
          if (speaker['自己紹介']) {
            %>
            <div class="session-speakerBio" lang="ja">
              <p><%- _enableBr(speaker['自己紹介']) %></p>
            </div>
            <%
          }
          %>
          <ul class="session-speakerLinks">
            <%
             if (speaker.twitter) { %>
            <li>
              <a href="https://twitter.com/<%= speaker.twitter %>">
                <img src="img/ico-twitter.svg" width="32" height="32" alt="Twitter: @<%= speaker.twitter %>">
              </a>
            </li>
            <%
             }
             if (speaker.github) { %>
            <li>
              <a href="https://github.com/<%= speaker.github %>">
                <img src="img/ico-github.svg" width="32" height="32" alt="GitHub: @<%= speaker.github %>">
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
      <%
      }
      for (const entry of entries) {
        const timeEntry = entry.parent || entry
        %>
        <div class="session-content">
          <p class="session-time"><%= momentTz(timeEntry.start).tz(timeEntry.timeZone).format('MMM. DD, H:mm') %> - <%= momentTz(timeEntry.end).tz(timeEntry.timeZone).format('H:mm') %>, <%= timeEntry.room %></p>
          <h2 class="session-title"><%= (entry.parent ? `${entry.parent.summary}: ` : '') + entry.summary %></h2>
          <% if (entry.description) { %>
          <div class="session-summary">
            <p><%- _enableBr(entry.description) %></p>
          </div>
          <%
            }
            if (entry.entries) {
              %>
          <ul>
            <%
              for (const subEntry of entry.entries) {
                const subSpeaker = speakers[subEntry.person]
                let byLine = ''
                if (subSpeaker) {
                  byLine = ` by <a href="speakers.html#speaker-${subSpeaker.id}">${subSpeaker.name}</a>`
                } else if (subEntry.person) {
                  byLine = ` by @${subEntry.person}`
                }
                %><li>"<%= subEntry.summary %>"<%- byLine %></li><%
              }
            %>
          </ul>
              <%
            }
          %>
        </div>
        <%
      }
      %>
    </div>

  </div>
</div>
