<%
var page = {
  title: 'About'
}
%>
<%- include('_layout/header', page) -%>

<%- include('_partial/svg') -%>

<%- include('_partial/navigation') -%>

<div class="main">

  <section class="page about">
    <h2 class="page-title about-title"><%= page.title %></h2>

    <div class="page-body about-body">
      <%- include('_partial/intro') -%>
    </div>

    <div class="page-section">
      <h3 class="page-subhead">Organizer</h3>
      <div class="page-sectionBody">
        <a href="https://twitter.com/yosuke_furukawa" class="organizer">
          <div class="organizer-image">
            <div class="Hex">
              <div class="Hex-outer">
                <div class="Hex-inner">
                  <img src="img/pic-yosuke.jpg" class="Hex-image">
                  <!--<img src="img/pic-douglascrockford.jpg" class="Hex-image">-->
                </div>
              </div>
            </div>
          </div>
          <div class="organizer-info">
            <p class="organizer-name">
              Yosuke Furukawa
            </p>
            <p class="organizer-id">
              @yosuke_furukawa
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="page-section">
      <h3 class="page-subhead">Team</h3>
      <div class="page-sectionBody">
        <ul class="team">
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/tito_net" target="_blank">tito</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/watilde" target="_blank">watilde</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/vanx2" target="_blank">vanx2</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/kysnm" target="_blank">kysnm</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/leader22" target="_blank">leader22</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/n0bisuke" target="_blank">nobisuke</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/sota0805" target="_blank">sotayamashita</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/kohei_takata" target="_blank">tako_black</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/leichtgewicht" target="_blank">martin</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/axross_" target="_blank">axross</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/ledsun" target="_blank">ledsun</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/tgfjt" target="_blank">tgfjt</a></p>
            </div>
          </li>
          <li>
            <div class="team-member">
              <p class="team-memberName"><a href="https://twitter.com/hiloki" target="_blank">hiloki</a></p>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </section>

</div>

<%- include('_partial/tickets') -%>

<%- include('_layout/footer') -%>
