<%
var page = {
  title: 'Speakers'
}
%>
<%- include('_layout/header', page) -%>

<%- include('_partial/svg') -%>

<%- include('_partial/navigation') -%>

<div class="main">

  <section class="page speakers">
    <h2 class="page-title speakers-title"><%= page.title %></h2>

    <div class="page-body speakers-body">
      <ul class="speakers-list">
        <li>
          <a href="#https://github.com/douglascrockford" class="speaker">
            <div class="speaker-image">
              <div class="Hex">
                <div class="Hex-outer">
                  <div class="Hex-inner">
                    <img src="img/pic-douglascrockford.jpg" class="Hex-image">
                    <!--<img src="img/pic-douglascrockford.jpg" class="Hex-image">-->
                  </div>
                </div>
              </div>
            </div>
            <div class="speaker-info">
              <p class="speaker-name">
                Douglas Crockford
              </p>
              <p class="speaker-links">
                @douglascrockford
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="#https://twitter.com/jasnell" class="speaker">
            <div class="speaker-image">
              <div class="Hex">
                <div class="Hex-outer">
                  <div class="Hex-inner">
                    <img src="img/pic-jasnell.jpg" class="Hex-image">
                  </div>
                </div>
              </div>
            </div>
            <div class="speaker-info">
              <p class="speaker-name">
                James Snell
              </p>
              <p class="speaker-links">
                @jasnell
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="#https://twitter.com/bradleymeck" class="speaker">
            <div class="speaker-image">
              <div class="Hex">
                <div class="Hex-outer">
                  <div class="Hex-inner">
                    <img src="img/pic-bmeck.jpg" class="Hex-image">
                  </div>
                </div>
              </div>
            </div>
            <div class="speaker-info">
              <p class="speaker-name">
                Bradley Meck
              </p>
              <p class="speaker-links">
                @bradleymeck
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="#https://twitter.com/zcbenz" class="speaker">
            <div class="speaker-image">
              <div class="Hex">
                <div class="Hex-outer">
                  <div class="Hex-inner">
                    <img src="img/pic-zcbenz.jpg" class="Hex-image">
                  </div>
                </div>
              </div>
            </div>
            <div class="speaker-info">
              <p class="speaker-name">
                Cheng Zhao
              </p>
              <p class="speaker-links">
                @zcbenz
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="#https://twitter.com/yoshuawuyts" class="speaker">
            <div class="speaker-image">
              <div class="Hex">
                <div class="Hex-outer">
                  <div class="Hex-inner">
                    <img src="img/pic-yoshuawuyts.jpg" class="Hex-image">
                  </div>
                </div>
              </div>
            </div>
            <div class="speaker-info">
              <p class="speaker-name">
                Yoshua Wuyts
              </p>
              <p class="speaker-links">
                @yoshuawuyts
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="#https://twitter.com/mafintosh" class="speaker">
            <div class="speaker-image">
              <div class="Hex">
                <div class="Hex-outer">
                  <div class="Hex-inner">
                    <img src="img/pic-mafintosh.jpg" class="Hex-image">
                  </div>
                </div>
              </div>
            </div>
            <div class="speaker-info">
              <p class="speaker-name">
                Mathias Buus
              </p>
              <p class="speaker-links">
                @mafintosh
              </p>
            </div>
          </a>
        </li>
      </ul>

    </div>

  </section>

</div>

<!-- Sessions -->
<div class="overlay /is-expand"><!-- `is-expand`で開く -->
  <div class="overlay-content">
    <button class="overlay-button">
      <svg xmlns="http://www.w3.org/2000/svg" class="overlay-icon"><use xlink:href="#close"></use></svg>
    </button>
    <!-- Session detail & Speaker info-->
    <div class="session">
      <div class="session-speaker">
        <div class="session-speakerAvatar">
          <img src="img/pic-jasnell.jpg">
        </div>
        <div class="session-speakerProfile">
          <p class="session-speakerName">James Snell</p>
          <div class="session-speakerBio">
            <p>James M Snell is currently IBM's Technical Lead for Node.js and a member of the Node.js TSC and CTC. At IBM, he is responsible for coordinating the company's various contributions to Node.js. He has spent his 15+ years at the company dedicated to the development of Open Source and Open Standards.</p>
          </div>
        </div>
      </div>
      <div class="session-content">
        <p class="session-time">14:00-14:30 Room A</p>
        <h2 class="session-title">Node.js and Web Standards</h2>
        <div class="session-summary">
          <p>Node.js is, and has been, primarily a platform for Web application development. In this talk, James will discuss the evolution and future of support for Web Standards such as URL parsing and HTTP 2.0 in Node.js core.</p>
        </div>
      </div>
    </div>

  </div>

</div>

<%- include('_partial/tickets') -%>

<%- include('_layout/footer') -%>
