<%
var page = {
  title: 'Sponsors'
}
%>
<%- include('_layout/header', page) -%>

<%- include('_partial/svg') -%>

<%- include('_partial/navigation') -%>

<div class="main">

  <!-- TODO: いったん現状のものをペースト。追ってスポンサー企業概要を含めたリスト化-->
  <section class="page sponsors">
    <h2 class="page-title sponsors-title"><%= page.title %></h2>
    <div class="page-body sponsors-body">

      <div class="sponsors-section">
        <h3 class="sponsors-grade">Platinum</h3>
        <ul class="sponsors-list">
          <li>
            <%- include('./_partial/sponsor', { id: 'paypal', grade: 'pratinum' }) %>
          </li>
        </ul>
      </div>
      <div class="sponsors-section">
        <h3 class="sponsors-grade">Gold</h3>
        <ul class="sponsors-list">
          <li>
            <%- include('./_partial/sponsor', { id: 'dwango', grade: 'gold' }) %>
          </li>
          <li>
            <%- include('./_partial/sponsor', { id: 'r-tech', grade: 'gold' }) %>
          </li>
          <li>
            <%- include('./_partial/sponsor', { id: 'yahoo', grade: 'gold' }) %>
          </li>
        </ul>
      </div>
      <div class="sponsors-section">
        <h3 class="sponsors-grade">Silver</h3>
        <ul class="sponsors-list">
          <li>
            <%- include('./_partial/sponsor', { id: 'pxgrid', grade: 'silver' }) %>
          </li>
          <li>
            <%- include('./_partial/sponsor', { id: 'sphinx', grade: 'silver' }) %>
          </li>
        </ul>
      </div>
      <div class="sponsors-section">
        <h3 class="sponsors-grade">Media</h3>
        <ul class="sponsors-list">
          <li>
            <%- include('./_partial/sponsor', { id: 'theport', grade: 'media' }) %>
          </li>
        </ul>
      </div>

    </div>

    <!-- TODO: 最寄り駅情報や会場の外観情報など
    <div class="page-section">
      <h3 class="page-subhead"></h3>
      <div class="page-sectionBody"></div>
    </div>
    -->

  </section>

</div>

<%- include('_partial/tickets') -%>

<%- include('_layout/footer') -%>
