<%
var page = {
  title: 'Venues'
}
%>
<%- include('_layout/header', page) -%>

<%- include('_partial/svg') -%>

<%- include('_partial/navigation') -%>

<div class="main">

  <section class="page venue">
    <h2 class="page-title venue-title"><%= page.title %></h2>

    <div class="page-body venue-body">
      <%- include('_partial/venue-map') -%>
    </div>

    <!-- TODO: 最寄り駅情報や会場の外観情報など
    <div class="page-section">
      <h3 class="page-subhead"></h3>
      <div class="page-sectionBody"></div>
    </div>
    -->

  </section>

</div>

<%- include('_partial/tickets') -%>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDvBLklunoaVPhXh4b1jVcXoUclUlmtNiA&extension=.js"></script>

<%- include('_layout/footer') -%>
