<div class="timetable -conference">
  <div class="timetable-caption">
    <h3 class="timetable-title">
      Nov 13 <span class="timetable-venue">at Markcity</span>
    </h3>
  </div>
  <div class="timetable-header">
    <div class="timetable-time"></div>
    <div class="timetable-section">
      <p>Room A</p>
      <p>Room B</p>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>09:00 - 10:00</p>
    </div>
    <div class="timetable-content">
      <p>Opening</p>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>10:00 - 10:05</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Description of our venue</p>
        <p class="timetable-sessionSpeaker">Takahiro Ito</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>10:05 - 10:15</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Opening Talk</p>
        <p class="timetable-sessionSpeaker">Yosuke Furukawa</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>10:15 - 10:30</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionBreak">Break</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>10:30 - 11:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Demystifying JavaScript Engines</p>
        <p class="timetable-sessionSpeaker">Alejandro Oviedo</p>
      </div>
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Building Interactive npm Command Line Modules</p>
        <p class="timetable-sessionSpeaker">Irina Shestak</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>11:00 - 11:30</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Debugging Node.js Performance Issues in Production</p>
        <p class="timetable-sessionSpeaker">Thomas Watson</p>
      </div>
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Famicom programming with JavaScript</p>
        <p class="timetable-sessionSpeaker">Fritz Van Deventer</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>11:30 - 12:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Cybozu社のエンジニアの育て方と開発環境（仮）</p>
        <p class="timetable-sessionSpeaker">Teppei Sato</p>
      </div>
      <div class="timetable-session">
        <p class="timetable-sessionTitle">GraphQL for the RESTful crowd</p>
        <p class="timetable-sessionSpeaker">Barak Chamo</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>12:00 - 13:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionLunch">Lunch</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>13:00 - 13:45</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle"><%= sessions.douglascrockford.title %></p>
        <p class="timetable-sessionSpeaker"><%= speakers.douglascrockford.name %></p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>13:45 - 14:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionBreak">Break</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>14:00 - 14:30</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle"><%= sessions.jasnell.title %></p>
        <p class="timetable-sessionSpeaker"><%= speakers.jasnell.name %></p>
      </div>
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Why to Standardize your READMEs</p>
        <p class="timetable-sessionSpeaker">Richard Littauer</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>14:30 - 15:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle"><%= sessions.bmeck.title %></p>
        <p class="timetable-sessionSpeaker"><%= speakers.bmeck.name %></p>
      </div>
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Vue.js 2.0 サーバサイドレンダリング</p>
        <p class="timetable-sessionSpeaker">Kazuya Kawaguchi</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>15:00 - 15:30</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle"><%= sessions.mafintosh.title %></p>
        <p class="timetable-sessionSpeaker"><%= speakers.mafintosh.name %></p>
      </div>
      <div class="timetable-session">
        <p class="timetable-sessionTitle">React + Reduxを使った大規模商用サービスの開発</p>
        <p class="timetable-sessionSpeaker">Naohiro Yoshida</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>15:30 - 15:45</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionBreak">Break</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>15:45 - 16:15</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle"><%= sessions.yoshuawuyts.title %></p>
        <p class="timetable-sessionSpeaker"><%= speakers.yoshuawuyts.name %></p>
      </div>
      <div class="timetable-session">
        <p class="timetable-sessionTitle">リアルタイムデプロイサービスNow（仮）</p>
        <p class="timetable-sessionSpeaker">Naoyuki Kanezawa</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>16:15 - 16:45</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle"><%= sessions.zcbenz.title %></p>
        <p class="timetable-sessionSpeaker"><%= speakers.zcbenz.name %></p>
      </div>
      <div class="timetable-session">
        <p class="timetable-sessionTitle">PostCSS: Build your own CSS processor</p>
        <p class="timetable-sessionSpeaker">Masaaki Morishita</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>16:45 - 17:15</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Browser is the new server</p>
        <p class="timetable-sessionSpeaker">Gleb Bahmutov</p>
      </div>
      <div class="timetable-session">
        <p class="timetable-sessionTitle">JavaScript による並列処理：共有メモリとロック</p>
        <p class="timetable-sessionSpeaker">Noritada Shimizu</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>17:15 - 17:30</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionBreak">Break</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>17:30 - 18:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionSponsor">Sponsors Talk</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>18:00 - 18:30</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Lightning Talks</p>
        <ul class="timetable-lts">
          <li>
            <p class="timetable-ltsTitle">Introduction to Rakuten React kit</p>
            <p class="timetable-ltsSpeaker">Adam Munoz & Koji Hirano</p>
          </li>
          <li>
            <p class="timetable-ltsTitle">WebAssemblyに欠けている大事なもの</p>
            <p class="timetable-ltsSpeaker">Yoshiki Shibukawa</p>
          </li>
          <li>
            <p class="timetable-ltsTitle">From Library to Tool - power-assert as a General Purpose Assertion Enhancement Tool</p>
            <p class="timetable-ltsSpeaker">Takuto Wada</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>18:30 - 18:45</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionBreak">Break</p>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>18:45 - 19:15</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Lightning Talks</p>
        <ul class="timetable-lts">
          <li>
            <p class="timetable-ltsTitle">How Do We Get Along With Static Types</p>
            <p class="timetable-ltsSpeaker">FUJI Goro</p>
          </li>
          <li>
            <p class="timetable-ltsTitle">Jasper - The Issue Reader for GitHub with Electron</p>
            <p class="timetable-ltsSpeaker">Ryo Maruyama</p>
          </li>
          <li>
            <p class="timetable-ltsTitle">RuntimeJS Playground</p>
            <p class="timetable-ltsSpeaker">Jacob Groundwater</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>19:15 - Last</p>
    </div>
    <div class="timetable-content">
      <p>Closing &amp; Party</p>
    </div>
  </div>
</div>
