<%
var page = {
  title: 'Code of Conduct'
}
%>
<%- include('_layout/header', page) -%>

<%- include('_partial/svg') -%>

<header id="header" class="header">
  <div class="header-inner">
    <a href="./" class="header-logo"><img src="img/logo-tnf-invert.svg" alt="東京Node学園祭2018"></a>
  </div>
</header>

<%- include('_partial/navigation') -%>

<div class="main">

  <section class="page coc">
    <h2 class="page-title coc-title"><%= page.title %></h2>

    <div class="page-body coc-body">
      <div class="coc-intro">
        <p>このカンファレンスではすべての参加者、スピーカー、スポンサーとボランティアは以下の行動規範に従うことへの同意を必要とします。カンファレンス主催者はカンファレンスの期間を通じてこの規範の実施を遵守します。誰にとっても安全な環境を守るためにすべての参加者が協力することを期待しています。</p>
        <p>一言でいえば: <em class="u-em">サイテーな人になってはいけません！</em></p>
      </div>
    </div>

    <div class="page-section coc-section">
      <h3 class="page-subhead coc-subhead">なにか困っていて助けが必要ですか?</h3>
      <div class="page-sectionBody">
        <p>私たち主催者の連絡先の詳細はお送りしたメールに含まれています。</p>
      </div>
    </div>

    <div class="page-section coc-section">
      <h3 class="page-subhead coc-subhead">要約</h3>
      <div class="page-sectionBody">
        <p>私たちのカンファレンスでは、性別、性的指向、障害の有無、外見、身体の大きさ、人種、宗教にかかわりなく、全員がハラスメント行為なくカンファレンスに参加し、体験できる環境の提供に最善を尽くします。</p>
        <p>私たち主催者は、カンファレンス参加者によるハラスメント行為を一切許容しません。性的な言葉や映像表現を使うことはカンファレンス場およびカンファレンスに関連するいかなる場でも不適切であり、その適用範囲は発表やトークの内容、ワークショップ、関連パーティー、Twitterやその他のオンラインメディアでの発言を含みます。これらのルールを破ったカンファレンス参加者は、主催者の判断によって、カンファレンス内での行動を制限されたり、参加費の返還なくカンファレンスからの退席を受けることがあります。

        </p>
      </div>
    </div>

    <div class="page-section coc-section">
      <h3 class="page-subhead coc-subhead">詳細</h3>
      <div class="page-sectionBody">
        <p>ハラスメント行為には、言葉による性別、性的指向、障害の有無、外見、身体の大きさ、人種、宗教に関する攻撃的なコメント、公的空間での性的な映像表現、意図的な威力行為、ストーキング、つきまとい、写真撮影や録音によるいやがらせ、トークやその他のカンファレンスイベントに対して繰り返して中断しようとする行為、不適切な身体接触、そして望まれない性的な注意を引きつける行為を含みます。</p>

          <p>参加者は、これらのハラスメント行為を止めるように求められた場合、すぐに従わなければなりません。</p>

          <p>スポンサーもまた反ハラスメント行為ポリシーに従わなければなりません。特に、スポンサーは性的な関心を引き起こす映像表現、活動、あるいはその他の物品を使うべきではありません。ボランティアを含め、ブースのスタッフは、性的な関心を引き起こすような服装・制服・コスチュームを使うべきではありませんし、その他の手段で性的な関心を引き起こすような環境を作ることもすべきではありません。</p>

          <p>参加者がハラスメント行為をした場合は、カンファレンス主催者は適切と判断した範囲で、当該行為を行った者に対する警告や、参加費を返還せずにカンファレンスから退席とするなどを含むいかなる行動も取ります。</p>
<p>
        <p>もしあなたがハラスメントにあった場合、他の人がハラスメントにあっている場合、あるいは他に気になることがあった時は、すぐにカンファレンススタッフの誰かに連絡していただくようお願いします。カンファレンス スタッフはカンファレンスのブランドを付けたTシャツを着ています。</p>

        <p>カンファレンス スタッフは、ハラスメントを経験した人が、カンファレンス期間中、安全かつ安心と感じられるように、参加者がホテル・会場の警備や近隣の警察に連絡すること、付き添い者の提供、およびその他の支援を行います。私たちにとってあなたが参加しているのは大事なことなのです。</p>

        <p>私たちは参加者がカンファレンス場とワークショップ会場、またカンファレンスに関連したソーシャルイベントにて、このルールに従うことを望みます。</p>
      </div>
    </div>

    <div class="coc-note">
      <p>Original source: <a href="http://confcodeofconduct.com/" target="_blank">Conference Code of Conduct</a></p>

    </div>

  </section>

</div>

<%- include('_layout/footer') -%>
