<%
var page = {
  speakers: Object.keys(speakers)
}
%>
<%- include('_layout/header') -%>

<%- include('_partial/svg') -%>

<div class="home">

  <div class="cover">

    <div class="cover-inner">

      <img src="img/logo-tnf-invert.svg" class="cover-logo">

      <div class="cover-outline">
        <div class="outline">
          <div class="outline-body">
            <p class="outline-date">23-24th November</p>
            <h1 class="outline-name">東京Node学園祭2018</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="home-intro">

      <svg xmlns="http://www.w3.org/2000/svg" class="home-mountain" fill="url(#mount-gradient)"><use xlink:href="#mountain"></use></svg>
      <%- include('_partial/intro') -%>
    </div>
  </div>

  <div class="main home-main">

    <div class="home-speakers">
      <h2 class="home-subhead">Featured Speakers</h2>

      <ul class="speakers-list">
        <% page.speakers.forEach(function(speaker) { %>
        <li>
          <%- include('_partial/speaker', { id: speaker }) -%>
        </li>
        <% }); %>
      </ul>
    </div>

    <div class="home-venues">
      <h2 class="home-subhead">Venue</h2>
      <div class="page-body venue-body">
        <%- include('_partial/venue-map') -%>
      </div>
    </div>

  </div>

  <%# include('_partial/cfp') -%>

  <div class="home-sponsors">
    <h2 class="home-subhead home-sponsorsSubhead">Sponsors</h2>
    <div class="sponsors-section">
      <h3 class="sponsors-grade">Platinum</h3>
      <ul class="sponsors-list -platinum">
        <li>
          <%- include('./_partial/sponsor', { id: 'recruit', grade: 'platinum' }) %>
        </li>
      </ul>
    </div>
    <div class="sponsors-section">
      <h3 class="sponsors-grade">Gold</h3>
      <ul class="sponsors-list -gold">
        <li>
          <%- include('./_partial/sponsor', { id: 'bitbank', grade: 'gold' }) %>
        </li>
        <li>
          <%- include('./_partial/sponsor', { id: 'dwango', grade: 'gold' }) %>
        </li>
        <li>
          <%- include('./_partial/sponsor', { id: 'gms', grade: 'gold' }) %>
        </li>
        <li>
          <%- include('./_partial/sponsor', { id: 'mercari', grade: 'gold' }) %>
        </li>
      </ul>
    </div>
    <div class="sponsors-section">
      <h3 class="sponsors-grade">Silver</h3>
      <ul class="sponsors-list -silver">
        <li>
          <%- include('./_partial/sponsor', { id: 'medley', grade: 'silver' }) %>
        </li>
        <li>
          <%- include('./_partial/sponsor', { id: 'pxgrid', grade: 'silver' }) %>
        </li>
        <li>
          <%- include('./_partial/sponsor', { id: 'supership', grade: 'silver' }) %>
        </li>
        <li>
          <%- include('./_partial/sponsor', { id: 'future', grade: 'silver' }) %>
        </li>
        <li>
          <%- include('./_partial/sponsor', { id: 'scrapbox', grade: 'silver' }) %>
        </li>
        <li>
          <%- include('./_partial/sponsor', { id: 'cybozu', grade: 'silver' }) %>
        </li>
        <li>
          <%- include('./_partial/sponsor', { id: 'cyberagent', grade: 'silver' }) %>
        </li>
      </ul>
    </div>
    <div class="sponsors-section">
      <h3 class="sponsors-grade">Bronze</h3>
      <ul class="sponsors-list -venue">
        <li>
          <%- include('./_partial/sponsor', { id: 'yumemi', grade: 'bronze' }) %>
        </li>
      </ul>
    </div>
    <div class="sponsors-section">
      <h3 class="sponsors-grade">Venue</h3>
      <ul class="sponsors-list -venue">
        <li>
          <%- include('./_partial/sponsor', { id: 'yahoo', grade: 'venue' }) %>
        </li>
      </ul>
    </div>
  </div>

</div>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDvBLklunoaVPhXh4b1jVcXoUclUlmtNiA&extension=.js"></script>

<%- include('_layout/footer') -%>
