<%
var page = {
  title: 'Venue'
}
%>
<%- include('_layout/header', page) -%>

<%- include('_partial/svg') -%>

<%- include('_partial/navigation') -%>

<div class="main">

  <section class="page venue">
    <h2 class="page-title venue-title"><%= page.title %></h2>

    <div class="page-body venue-body">
      <%- include('_partial/venue-map') -%>
      <p class="venue-note">
        ※ 会場へは公共交通機関でお越し下さい
      </p>
    </div>

  </section>

</div>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDvBLklunoaVPhXh4b1jVcXoUclUlmtNiA&extension=.js"></script>

<%- include('_layout/footer') -%>
